body, html, .container-fluid, .sidebar, .body {
    height: 98%;
    min-height: 98%;
    margin:0;
}
.body {
    box-sizing: border-box;
    padding-top:65px;
    z-index:1;
}
.navbar {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    z-index:2;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}